.movie-card{
  display: inline-block;
  position: relative;
  border: 1px solid white;
  cursor: default;
  width: 343px;
  height: 516px;
  background-size: cover;
  background-position: center;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }
  

  ul{
    width: 100%;
    min-height: 100%;
    opacity: 0;
    position: absolute;
    padding: 10px;
    color:white;
    list-style: none;
    background-color: black;
    transition: opacity 0.3s;

    &:hover{
      opacity: 1;
    }
  }
}